<div>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant.id), class:"d-flex justify-content-center mt-2" %></li>
    <% end %>
  </ul>
</div>

<p><%= link_to "Add new restaurant", new_restaurant_path, class:"d-flex justify-content-center" %></p>
